/* Use this file to override styles in the drposter template.
 * 
 * Improve poster maintainability by keeping the resources separate
 * from the package, and user styles separated from the overall package.
 */

.slides > header {
	/* If the background is a complex image, then an overlay may be necessary: */
	background: black;
	border-radius: var(--block-padding);
	border: 0.25cm solid var(--header-color);
	background-image: url("../resource/xjtlu-badge.png"), url("../resource/r-chem.png");
	background-position: 3% 50%, 97% -200%; 
    background-size: 150px, 350px;
    background-color: #000544;
	background-repeat: no-repeat;
	
}

:root {
	--header-color: #000544;
}

/******** Default theme, including the background gradients ********/
:root {
	--other-color-for-h2-gradient: white;
}

.title {
	font-size: 2.5cm;
	color: white;
}


@page {
	size: 1189mm 841mm;  /* A0 paper for now */
	margin: 0;
}

/* portrait */
html {
	margin: 0;
	width: 841mm;
	height: 1189mm;
	padding: 2.5cm;  /* Overall document "margins" (while keeping the background, etc.) */
}

/* landscape */
html {
	margin: 0;
	width: 1189mm;
	height: 841mm;
	padding: 2.5cm;  /* Overall document "margins" (while keeping the background, etc.) */
}
