.red { color: #FF0000 }
.large { font-size: 130% }
.small { font-size: 70% }


:root {
	<!---
  /* Fonts */
  --text-font-family: 'Noto Sans';
  --text-font-is-google: 1;
  --text-font-family-fallback: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, Ubuntu, roboto, noto, segoe ui, arial;
  --text-font-base: sans-serif;
  --header-font-family: Cabin;
  --header-font-is-google: 1;
  --code-font-family: 'Source Code Pro';
  --code-font-is-google: 1;
  --base-font-size: 20px;
  --text-font-size: 1rem;
  --code-font-size: 0.9rem;
  --code-inline-font-size: 1em;
  --header-h1-font-size: 2.75rem;
  --header-h2-font-size: 2.25rem;
  --header-h3-font-size: 1.75rem;

  /* Colors */
  --text-color: #000;
  --header-color: #000;
  --background-color: #FFF;
  --link-color: rgb(249, 38, 114);
  --code-highlight-color: rgba(255,255,0,0.5);
  --inverse-text-color: #d6d6d6;
  --inverse-header-color: #f3f3f3;
  --inverse-background-color: #000544;
  --title-slide-background-color: #000544;
  --title-slide-text-color: #d6d6d6;
  --header-background-color: #000;
  --header-background-text-color: #FFF;
  
  --inverse-background-color: #000544;

  --->
  --header-color: #000544;
}

.inverse {
  <!--
  background-color: var(--inverse-background-color);
  color: var(--inverse-text-color);
    --->
}

.title-slide {
  background-image: url(../resource/xjtlu-cover-169.png);
  background-size: cover;
}

  <!--
.title-slide .remark-slide-number {
  display: none;
}
    --->

h1, h2, h3 {
  color: var(--header-color);
}

<!--  progress bar instead of slide numbers

.remark-slide-number {
  position: inherit;
}

 -->
 
.remark-slide-number .progress-bar-container {
  position: absolute;
  bottom: 0;
  height: 4px;
  display: block;
  left: 0;
  right: 0;
}

.remark-slide-number .progress-bar {
  height: 100%;
  background-color: red;
}


.column:first-of-type {float:left}
.column:last-of-type {float:right}

.split-40 .column:first-of-type {width: 40%}
.split-40 .column:last-of-type {width: 60%}

.float_center {
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}
.float_center > .child {
  position: relative;
  left: 50%;
}


.col3 {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

h2 {
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}