/* Use this file to override styles in the drposter template.
 * 
 * Improve poster maintainability by keeping the resources separate
 * from the package, and user styles separated from the overall package.
 */

.slides > header {
	/* If the background is a complex image, then an overlay may be necessary: */
	background: black;
	border-radius: var(--block-padding);
	border: 2.5cm solid var(--header-color);
	background-image: url("../resource/openr-logo-white.png");
	background-position: 3% 50%; 
    background-size: 450px;
    background-color: #000544;
	background-repeat: no-repeat;
	
}

:root {
	--header-color: #000544;
}

/******** Default theme, including the background gradients ********/
:root {
	--other-color-for-h2-gradient: white;
}

/* flyer title*/
.title {
	font-size: 3.5cm;
	color: white;
}


@page {
	size: 1189mm 841mm;  /* A0 paper for now */
	margin: 0;
}

html {
	/* Note that rem is set proportionally to the html root font size: https://css-tricks.com/html-vs-body-in-css/ */
	font-family: var(--base-font-family);
	font-size: 2cm;
	vertical-align: middle;
	line-height: 1.375; /* Use proportional line spacing so everything is self-consistent */
}

h1, h2 {
	font-size: 2.5cm;
}

.slides .col-32 {
	grid-column: span 8;
}

/* portrait */
html {
	margin: 0;
	width: 841mm;
	height: 1189mm;
	padding: 2.5cm;  /* Overall document "margins" (while keeping the background, etc.) */
}
