/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

img {
width: 100%;
max-width: 60%;
}

code {
	color: green;
	background-color: rgba(0, 255, 0, 0.05);
}
